 body {
     text-align: justify;
     display: grid;
     place-items: center;
 }

 img {
     width: 200px;
 }

 #row {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 span {
     font-size: 18px;
 }

 #wrap {
     width: 40vw;
 }

 @media only screen and (max-width: 500px) {
     span {
         font-size: 15px;
         text-align: left;
     }

     #wrap {
         width: 90vw;
     }
 }